﻿@model BDMS.Models.HospitalModel

@{
    ViewBag.Title = "Hospitals List";
}

@if (Model.CurrentHospital.Id == 0)
{
    <h2>Create Hospital</h2>
}
else
{
    <h2>Edit Hospital</h2>
}

<div class="row">
    @Html.Partial("_Message")

    <div class="col-md-12">

        @using (Html.BeginForm("Create", "Hospital", FormMethod.Post, new { id = "frmHospital" }))
        {
            @Html.HiddenFor(model => model.CurrentHospital.Id)
            <div class="form-group">
                <label for="hospitalname">Name</label>
                @Html.TextBoxFor(model => model.CurrentHospital.Name, new { @class = "form-control", placeholder = "Enter Hospital Name" })
                @Html.ValidationMessageFor(model => model.CurrentHospital.Name)
            </div>


            foreach (var item in Model.BloodGroups)
            {
                if (Model.CurrentHospital.Id > 0)
                {
                    if (Model.CurrentHospital.HospitalBloodGroups.ToList().Exists(bd => bd.BloodGroupId == item.Id))
                    {
                        <div class="form-check-inline">
                            @*@Html.CheckBoxFor(model=>model.SelectedBloodGroup,new {@class="form-check-input" , Value = "@item.Id", @checked=true })*@
                            <input type="checkbox" class="form-check-input" name="SelectedBloodGroup" value="@item.Id" checked onchange="SetValue()">
                            <label class="form-check-label">@item.Name</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check-inline">
                            <input type="checkbox" class="form-check-input" name="SelectedBloodGroup" value="@item.Id" onchange="SetValue()">
                            <label class="form-check-label">@item.Name</label>
                        </div>
                    }
                }
                else
                {
                    <div class="form-check-inline">
                        <input type="checkbox" class="form-check-input" name="SelectedBloodGroup" value="@item.Id" onchange="SetValue()">
                        <label class="form-check-label">@item.Name</label>
                    </div>
                }
            }
            @Html.ValidationMessageFor(model => model.SelectedBloodGroups)
            @Html.TextBoxFor(model => model.SelectedBloodGroups, new { @class = "form-control", id = "txtSelectedBloodGroups", style = "display:none;" })
            <br />

            <button type="submit" class="btn btn-primary">Submit</button>
        }


    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({ ignore: '' });
        function SetValue() {
            $('.form-check-input').each(function () {
                if ($(this).is(':checked')) {
                    $("#txtSelectedBloodGroups").val("1");
                    //$(".btn-primary").trigger("click");
                    return false;
                } else {
                    $("#txtSelectedBloodGroups").val("");
                }
            });
        }

        $(document).ready(function () {
            SetValue();
        });


    </script>

}
