﻿@model BDMS.Models.HospitalModel

@{
    ViewBag.Title = "Hospitals List";
}

<h2>Detail of the Perticular Hospitals</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Hospital Name : @Model.CurrentHospital.Name</h3>
   </div>
    <div class="col-md-6"></div>
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Required Blood Groups</th>
                    <th>List of Donors</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string requiredBloogGroups = string.Join(",", Model.CurrentHospital.HospitalBloodGroups.Select(bg => bg.BloodGroup.Name));
                    List<string> donorNames = new List<string>();
                    foreach (var item in Model.CurrentHospital.HospitalBloodGroups)
                    {
                        var existedDonor = Model.CurrentHospital.HosptalBloodDonors.ToList().FirstOrDefault(donor => donor.BloodGroupid == item.BloodGroupId);
                        if (existedDonor != null)
                        {
                            donorNames.Add(existedDonor.Donor.Name);
                        }
                    }
                    string requiredBloogGroupDonor = string.Join(",", donorNames);
                }

                <tr>
                    <td>@requiredBloogGroups</td>
                    <td>@requiredBloogGroupDonor</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary" href="@Url.Action("Create","Hospital",new { id=Model.CurrentHospital.Id})">Edit</a>
        <a class="btn btn-primary" onclick="return DeleteHospital('@Model.CurrentHospital.Id');" href="javascript:void(0);">Delete</a>
    </div>
</div>

<script type="text/javascript">
    function DeleteHospital(id) {
        if (confirm("Are you sure you want to delete it ?")) {
            document.location.href = "/Hospital/Delete/" + id;
            return true;
        } else {
            return false;
        }
    }
</script>