﻿@model BDMS.Models.HospitalModel

@{
    ViewBag.Title = "Hospitals List";
}
<h2>List of the Hospitals</h2>


<div class="row">
    @Html.Partial("_Message")
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" href="@Url.Action("Create","Hospital")">Add Hospital</a>
        <br />
        <br />
    </div>
    @if (Model.Hospitals != null && Model.Hospitals.Count > 0)
    {
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Hospitals)
                    {
                        <tr>
                            <td>@item.Name</td>

                            <td>
                                <a  href="@Url.Action("Detail","Hospital",new { id=item.Id})">Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Hospital Available. Please click to add hospital.</p>
    }


</div>
