﻿@model BDMS.Models.DonorModel

@{
    ViewBag.Title = "Donor List";
}

@if (Model.CurrentDonor.Id == 0)
{
    <h2>Create Donor</h2>
}
else
{
    <h2>Edit Donor</h2>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="row">
    @Html.Partial("_Message")

    <div class="col-md-12">

        @using (Html.BeginForm("Create", "Donor", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.CurrentDonor.Id)
            <div class="form-group">
                <label for="hospitalname">Name</label>
                @Html.TextBoxFor(model => model.CurrentDonor.Name, new { @class = "form-control", placeholder = "Enter Donor Name" })
                @Html.ValidationMessageFor(model => model.CurrentDonor.Name)
            </div>

            <div class="form-group">
                <label for="hospitalname">Email</label>
                @Html.TextBoxFor(model => model.CurrentDonor.Email, new { @class = "form-control", placeholder = "Enter Donor EmailId" })
                @Html.ValidationMessageFor(model => model.CurrentDonor.Email)
            </div>

            <div class="form-group">
                <label for="sel1">Blood Group:</label>
                @Html.DropDownListFor(model => model.SelectedBloodGroup, Model.BloodGroups, "Select Blood Group",
               new { @class = "form-control", onchange = "GetHospitalForBloodGroup(this)" })
                @Html.ValidationMessageFor(model => model.SelectedBloodGroup)
            </div>

            <div class="form-group">

                <label for="sel2">Belongs to Hospital:</label>
                @Html.DropDownListFor(model => model.SelectedHospitals,Model.SeletedHospitalItems,
               new { @class = "form-control", multiple = "multiple" ,id="multiselectHospitals"})
                @Html.ValidationMessageFor(model => model.SelectedHospitals)
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }


    </div>

</div>

<script type="text/javascript">

   

    function GetHospitalForBloodGroup(ctrl) {
        var bloodGroupId = ctrl.value;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ id: bloodGroupId}),
            url: '@Url.Action("GetHospitalForBloodGroup", "Donor")',
            success: function (response) {
                $("#multiselectHospitals").empty();
                $.each(response, function (data, value) {
                    $("#multiselectHospitals").append($("<option></option>").val(value.Id).html(value.Name));
                })
            },
            error: function (xhr, status, error) {
                console.log("error");
            }
  });
    }

</script>