﻿@model BDMS.Models.DonorModel

@{
    ViewBag.Title = "Donor List";
}

<h2>Detail of the Perticular Donor</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Donor Name : @Model.CurrentDonor.Name</h3>
    </div>
    <div class="col-md-6">
        <h3>Donor EmailId : @Model.CurrentDonor.Email</h3>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Blood Groups</th>
                    <th>Belongs to Hospitals</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string donorBloogGroup = Model.CurrentDonor.HosptalBloodDonors.FirstOrDefault().BloodGroup.Name;
                    string selectedHospitals = string.Join(",", Model.CurrentDonor.HosptalBloodDonors.Select(donor => donor.Hospital.Name));
                }

                <tr>
                    <td>@donorBloogGroup</td>
                    <td>@selectedHospitals</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary" href="@Url.Action("Create","Donor",new { id=Model.CurrentDonor.Id})">Edit</a>
        <a class="btn btn-primary" onclick="return DeleteHospital('@Model.CurrentDonor.Id');" href="javascript:void(0);">Delete</a>
    </div>
</div>

<script type="text/javascript">
    function DeleteHospital(id) {
        if (confirm("Are you sure you want to delete it ?")) {
            document.location.href = "/Donor/Delete/" + id;
            return true;
        } else {
            return false;
        }
    }
</script>