﻿@model BDMS.Models.DonorModel

@{
    ViewBag.Title = "Donors List";
}
<h2>List of the Donors</h2>


<div class="row">
    @Html.Partial("_Message")
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" href="@Url.Action("Create","Donor")">Add Donor</a>
        <br />
        <br />
    </div>
    @if (Model.Donors != null && Model.Donors.Count > 0)
    {
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Donors)
                    {
                        <tr>
                            <td>@item.Name</td>

                            <td>
                                <a  href="@Url.Action("Detail","Donor",new { id=item.Id})">Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Donor Available. Please click to add donor.</p>
    }


</div>
